p いつも、ご利用いただき誠にありがとうございます。
p 本メールは、パスワード再設定フォームより自動送信しております。

p 下記のパスワード再設定用のURLをからパスワード再設定手続きにお進みください。
p = link_to 'パスワード再設定用のリンク', edit_password_url(@resource, reset_password_token: @token)
p ※上記のリンクにアクセスして新しいパスワードを設定するまで、パスワードは変更されません
    